<launch>

	<arg name="paused" default="false"/>
	<arg name="gui" default="true"/>
  <arg name="gzpose" default="-x 0 -y 0 -z 1.5 -R -1.57079 -P 0.0 -Y 0.0"/>
	<env name="LC_NUMERIC" value="C" />

<!-- startup simulated world -->
<!--
<include file="$(find gazebo_ros)/launch/empty_world.launch">
	<arg name="world_name" default="$(find pa10_gazebo)/empty.world"/>
	<arg name="paused" value="$(arg paused)"/>
	<arg name="gui" value="$(arg gui)"/>
</include>-->

	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find pa10_description)/urdf/pa10_csl.urdf.xacro'"/>

	<node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model pa10  $(arg gzpose)" respawn="false" output="screen"/>
	<!--<rosparam file="$(find pa10_hardware_interface)/config/joint_names.yaml" command="load"/> -->
	<!--<rosparam file="$(find pa10_hardware_interface)/config/pids.yaml" command="load"/>-->
	<rosparam file="$(find pa10_hardware_interface)/config/gazebo_controllers.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="pa10_trajectory_controller" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="
      joint_state_controller 
      arm_controller
      gripper_controller "/>

	<!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen"></node>

  <!-- TF lookup
  <node pkg="tf_lookup" type="tf_lookup" name="tf_lookup" output="screen"/> -->


</launch>
