<?xml version="1.0"?>
<launch>
    <arg name="world"  default="empty"/>
    <arg name="paused" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    
    <env name="LC_NUMERIC" value="C" />

    <env name="GAZEBO_MODEL_PATH" value="$(find pa10_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)"/>

    <!-- startup simulated world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find pa10_gazebo)/worlds/$(arg world).world"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="debug" value="$(arg debug)"/>
    </include>

    <!-- spawn 1st pa10 -->
    <include file="$(find pa10_gazebo)/launch/pa10_spawn.launch">
        <arg name="robot_name" value="pa10"/>
        <arg name="multiple" value="true"/>
        <arg name="gzpose" default="-x 0 -y 1.5 -z 0.5 -R 0.0 -P 0.0 -Y 0.0"/>
    </include>

</launch>
