<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- If multiple robots set multiple=true and define the namespace -->
    <arg name="robot_name" default=""/>
    <arg name="multiple" default="false"/>
    <arg name="multi" value="multiple:=$(arg multiple) namespace:=$(arg robot_name)"/>

    <arg name="pose_x" default= "0" />
    <arg name="pose_y" default= "0" />
    <arg name="pose_z" default= "0.5" />
    
    <arg name="roll" default= "0" />
    <arg name="pitch" default= "0" />
    <arg name="yaw" default= "0" />
    
    <arg name="gzpose" value="-x $(arg pose_x) -y $(arg pose_y) -z $(arg pose_z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>
    
    <!-- MoveIt Arguments -->
    <arg name="moveit" default="false"/>
    <arg name="use_rviz" default="false"/> <!-- Open RViz with MoveIt-->
    <arg name="use_camera" default="false"/> <!-- Use MoveIt Camera -->

    <group if="$(arg multiple)">

        <rosparam file="$(find pa10_hardware_interface)/config/gazebo_position_controllers.yaml"  command="load" ns="/$(arg robot_name)"/>

        <!-- Robot Model -->
        <param name="/$(arg robot_name)/robot_description" command="$(find xacro)/xacro.py '$(find pa10_description)/urdf/pa10_csl.urdf.xacro' $(arg multi)"/>

        <!-- Spawn robot in Gazebo -->
        <node pkg="gazebo_ros" type="spawn_model" name="$(arg robot_name)_spawn_model"
        args="-urdf -param /$(arg robot_name)/robot_description $(arg gzpose) -model $(arg robot_name)"/>

        <!-- Start Controllers -->
        <node name="$(arg robot_name)_trajectory_controller" pkg="controller_manager" type="spawner" respawn="false"  output="screen" args="
            --namespace=/$(arg robot_name)
            joint_state_controller 
            arm_controller
            gripper_controller"
        />
        
        
        <node pkg="tf" type="static_transform_publisher" name="$(arg robot_name)_bc" args="$(arg pose_x) $(arg pose_y) $(arg pose_z) $(arg yaw) $(arg pitch) $(arg roll) /map $(arg robot_name)/world 100"/>
        
        
        <!-- Robot state publisher -->
        <node pkg="robot_state_publisher" type="state_publisher" name="$(arg robot_name)_state_publisher">
            <param name="publish_frequency" type="double" value="50.0"/>
            <param name="tf_prefix" type="string" value="$(arg robot_name)"/>
            <remap from="robot_description" to="$(arg robot_name)/robot_description" />
            <remap from="joint_states" to="$(arg robot_name)/joint_states" />
        </node>
        
        
        
        
        
        <!-- Use MoveIt -->
        <group if="$(arg moveit)" ns="$(arg robot_name)">
            <!-- Launch MoveIt -->
            <include file="$(find pa10_moveit_config)/launch/pa10_moveit.launch">
                <arg name="rviz" value="$(arg use_rviz)" />
                <arg name="camera" value="$(arg use_camera)"/>
            </include>
        </group>
        
        
    </group>


    <group unless="$(arg multiple)">
        <rosparam file="$(find pa10_hardware_interface)/config/gazebo_position_controllers.yaml"  command="load"/>

        <!-- Robot Model -->
        <param name="robot_description" command="$(find xacro)/xacro.py '$(find pa10_description)/urdf/pa10_csl.urdf.xacro'" />

        <!-- Spawn robot in Gazebo -->
        <node pkg="gazebo_ros" type="spawn_model" name="pa10_spawn_model"
        args="-urdf -param robot_description $(arg gzpose) -model pa10"/>

        <!-- Start Controllers -->
        <node name="pa10_trajectory_controller" pkg="controller_manager" type="spawner" respawn="false"  output="screen" args="
            joint_state_controller 
            arm_controller
            gripper_controller"
         />
         
         
         <node pkg="tf" type="static_transform_publisher" name="$(arg robot_name)_bc" args="0 0 0 0 0 0 1 /world $(arg robot_name)/world 100"/>
         
           <!-- Robot state publisher -->
        <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
            <param name="publish_frequency" type="double" value="50.0"/>
        </node>

         
        <!-- Use MoveIt -->
        <group if="$(arg moveit)" ns="$(arg robot_name)">
            <!-- Launch MoveIt -->
            <include file="$(find pa10_moveit_config)/launch/pa10_moveit.launch">
                <arg name="rviz" value="$(arg use_rviz)" />
                <arg name="camera" value="$(arg use_camera)"/>
            </include>
        </group>
    </group>


</launch>
