<?xml version="1.0"?>
<launch>
    <arg name="world"  value="empty"/> <!-- Gazebo World -->
    <arg name="paused" value="false"/> <!-- Open gazebo paused-->
    <arg name="gui" value="true"/> <!-- Gui -->
    <arg name="debug" value="false"/> 
    <arg name="rviz" value="false"/> <!-- Open RViz with MoveIt-->
    <arg name="camera" value="false"/> <!-- Use MoveIt Camera -->

    <!-- startup Gazebo world + Pa10 + Controllers -->
    <include file="$(find pa10_gazebo)/launch/pa10.launch">
        <arg name="world" value="$(arg world)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="paused" value="false"/>
    </include>

    <!-- Launch MoveIt -->
    <include file="$(find pa10_moveit_config)/launch/demo_velocity.launch">
        <arg name="rviz" value="$(arg rviz)" />
        <arg name="debug" value="$(arg debug)"/>
        <arg name="camera" value="$(arg camera)"/>
    </include>

</launch>
