<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<!--<rosparam file="$(find pa10_hardware_interface)/config/joint_names.yaml" command="load"/> -->
	<!--<rosparam file="$(find pa10_hardware_interface)/config/pids.yaml" command="load"/>-->
	<rosparam file="$(find pa10_hardware_interface)/config/real_controllers.yaml" command="load"/>
	
	
  <!-- The semantic description that corresponds to the URDF -->
  <param name="robot_description_semantic" textfile="$(find pa10_moveit_config)/config/pa10.srdf" />
  <rosparam command="load" file="$(find pa10_moveit_config)/config/kinematics.yaml"/>
  
	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find pa10_description)/urdf/pa10_csl.urdf.xacro'"/>
  <!-- load the controllers -->

	<node name="pa10_hardware_interface" pkg="pa10_hardware_interface" type="pa10_hardware_interface_node" output="screen"/>

  <node name="pa10_trajectory_controller" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="
      joint_state_controller 
      arm_controller
      gripper_controller "/>
      
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
  <!-- Publish joint states for all the joints -->
  
  <!--<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="/source_list">[/joint_states]</rosparam>
    <param name="use_gui" value="false"/>
	</node>-->
</launch>

